*,
*::before,
*::after {
    box-sizing: border-box;
}

body { /*основной стиль*/
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 13px;
    color: #515076;
    background: url("images/project-background.png"); 
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: top center;
}
  
.cards-catalog { /*контейнер для карточек*/
    padding-top: 220px;
}

.cards-catalog__title { /*заголовок*/
    font-size: 70px;
    font-weight: 400;
    margin: 0 0 110px;
    text-align: center;
}

.cards-catalog__list { /*контейнер для карточек*/
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
    margin: 0 auto;
    max-width: 1110px;
}

.product-card { /*карточка продукта в артикуле*/
    display: flex;
    flex-direction: column;
    width: 340px;
    background-color: #f7f7fa;
    padding: 25px;
}

.product-card__images { /*картинка продукта*/
    margin: 0 0 30px;
}

.product-card__description { /*описание*/
    font-size: 12px;
    line-height: 24px;
    color: #A5A3B9;
    margin: 0 0 5px;
    text-transform: uppercase;
}

.product-card__subtitle { /*подзаголовок*/
    font-size: 20px;
    line-height: 27px;
    margin: 0 0 5px;
}

.product-card__explanation { /*пояснение продукта*/
    font-size: 13px;
    line-height: 18px;
    margin: 0 0 15px;
}

.product-card__structure { /*состав*/
    line-height: 18px;
    margin: 0 0 5px;

}

.product-card__list { /*список продуктов*/
    list-style: circle;
    list-style-position: inside;
    line-height: 18px;
    padding-left: 0;
    margin: 0 0 25px;
}

.product-card__price { /*контейнер для заголовка и значения цены*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}
